body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.cart-container {
    margin: 30px auto;
}
.cart-header {
    background-color: #ff5e14;
    color: white;
    text-align: center;
    padding: 10px;
}